.dice-roll {
    margin: 0 auto;
    margin-top: 3rem;
    width: 250px;
    text-align: center;
    user-select: none;
}

.number-area {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 5rem;
    cursor: pointer;
    background: linear-gradient(145deg,
            #dddbd8, #fff);
    border-radius: 10px;
    border: 5px solid rgb(231, 226, 226);
}

.num {
    font: inherit;
    word-break: break-all;
    display: block;
    width: 0px;
    margin: 30px;
    animation: animate 0.5s steps(10) forwards;
}

.num:before {
    content: attr(data-attr);
}

@keyframes animate {
    0% {
        transform: translate3d(0, -10em, 0);
    }

    50% {
        transform: translate3d(0, -5em, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.n1 {
    animation-iteration-count: 10;
}

.imp-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.normal {
    background: white;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1rem 3rem;
    margin: 0 auto;
    margin-top: 0.8rem;
    font-weight: bold;
    font-size: larger;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.normal:hover {
    border-radius: 0.3rem;
    background: black;
    color: white;
}

.inverted {
    background: black;
    color: white;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1rem 3rem;
    margin: 0 auto;
    margin-top: 0.8rem;
    font-weight: bold;
    font-size: larger;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.inverted:hover {
    border-radius: 0.3rem;
    background: white;
    color: black;
}

.hidden {
    display: none;
}

.rules-info {
    padding: 1rem 2rem;
    background-color: #FBF1F1;
    margin: 4rem auto;
    border-radius: 0.5rem;
}

.rules-info ol {
    margin-top: 0.3rem;
    font-size: 20px;
}

.rules-info li {
    padding-bottom: 0.2rem;
}

.dark {
    background: linear-gradient(145deg,
            #3b3b3a, #000);
    border: 5px solid rgb(30, 29, 29);
    color: white;
}